@font-face {
  font-family: 'Source Sans Pro';
  font-weight: bold;
  src: url('../../fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: normal;
  src: url('../../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: normal;
  font-style: italic;
  src: url('../../fonts/SourceSansPro/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  src: url('../../fonts/SourceSansPro/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: Inconsolata;
  font-weight: normal;
  src: url('../../fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}

body {
  background: var(--c-background);
  font-family: var(--font-family);
  font-size: var(--font-size);
}

a {
  color: var(--c-link);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code,
pre {
  padding: 0.2em;
  margin: 0;

  background-color: var(--c-code-background);

  font-family: var(--font-family-mono);
  font-size: var(--font-size-mono);
}

pre {
  padding: 10px;

  code {
    padding: 0;
    font-size: 100%;
    background-color: transparent;
  }
}

code {
  padding: 3px 6px 4px;

  border-radius: 4px;
  background-color: var(--c-base-weak);

  font-size: inherit;
}

p code {
  font-size: var(--font-size-mono);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-base-strong);
}

.tsd-typography {
  line-height: var(--line-height);

  ul {
    list-style: square;
    padding: 0 0 0 20px;
    margin: 0;
  }

  h4,
  h5,
  h6 {
    font-size: 1em;
    margin: 0;
  }

  h5,
  h6 {
    font-weight: normal;
  }

  p,
  ul,
  ol {
    margin: 1em 0;
  }

  blockquote {
    margin: 1rem 0;
    padding: 1rem;

    background-color: var(--c-faint-weak);
    border-left: 4px solid var(--c-accent-weak);
    border-radius: 0 4px 4px 0;

    font-weight: 300;

    p {
      margin: 0;
    }
  }
}
