footer {
  padding: 16px 0;

  border-top: 1px solid var(--c-panel-divider);
  background-color: var(--c-panel);
  color: var(--c-faint-strong-up);

  .tsd-legend-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .tsd-legend {
    display: inline-block;
    padding: 0;
    margin: 16px 32px;
    font-size: 14px;
    font-weight: 300;
    list-style: none;
    line-height: var(--line-height);
    vertical-align: top;
    
    > li:not(:last-child) {
      margin-bottom: 4px;
    }
  }
}
