footer {
  padding-top: 16px;

  border-top: 1px solid var(--c-panel-divider);
  background-color: var(--c-panel);
  color: var(--c-base-strong);

  h2 {
    margin: 0 0 8px;
  }

  .tsd-legend-group {
    font-size: 0;
  }

  .tsd-legend {
    display: inline-block;
    width: 25%;
    padding: 0;
    margin: 16px 0;
    font-size: var(--font-size);
    list-style: none;
    line-height: var(--line-height);
    vertical-align: top;

    @include size-xs-sm {
      width: 50%;
    }
  }
}
