.tsd-flag {
  padding: 3px 8px 4px;
  margin-right: 4px;

  display: inline-block;

  color: var(--c-accent-strong-up);
  background-color: var(--c-accent-weak-down);
  border-radius: 4px;

  text-indent: 0;
  font-size: var(--font-size-mono);
  font-family: var(--font-family-mono);
  font-weight: normal;
}

.tsd-anchor {
  position: absolute;
  top: -100px;
}

.tsd-member {
  position: relative;

  h3:first-child {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: none;

    font-size: 16px;
    font-weight: normal;
    font-family: var(--font-family-mono);

    & + .tsd-signature,
    & + .tsd-signatures {
      border-top: none;
      padding-top: 0;
    }
  }
  
  .tsd-comment {
    font-weight: 300;
  }
}
